
.about{
    width:100%;
    background:#f8fbff;
    padding-bottom:60px;
}

/* HERO */

.about-hero{
    text-align:center;
    padding:90px 10%;
    background:linear-gradient(135deg,#1a1b1e,#0ea5e9);
    color:#fff;
}

.about-hero h1{
    font-size:52px;
    margin-bottom:20px;
    font-weight:800;
}

.about-hero p{
    max-width:850px;
    margin:auto;
    line-height:1.9;
    font-size:19px;
}

/* COMMON SECTIONS */

.story,
.mission,
.services,
.why,
.team,
.vision{
    width:90%;
    max-width:1200px;
    margin:45px auto;
    background:#fff;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.story h2,
.mission h2,
.services h2,
.why h2,
.team h2,
.vision h2{
    color:#0f172a;
    margin-bottom:18px;
    font-size:32px;
}

.story p,
.mission p,
.team p,
.vision p{
    color:#555;
    line-height:1.9;
    font-size:17px;
}

/* SERVICES LIST */

.services ul{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
    gap:20px;
    list-style:none;
    margin-top:25px;
}

.services li{
    background:linear-gradient(135deg,#eff6ff,#dbeafe);
    padding:20px;
    border-radius:15px;
    text-align:center;
    font-size:18px;
    font-weight:600;
    transition:.3s;
}

.services li:hover{
    transform:translateY(-6px);
    background:linear-gradient(135deg,#586d9a,#a1c6d7);
    color:#fff;
}

/* WHY CHOOSE US */

.why-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    margin-top:30px;
}

.why-card{
    background:#fff;
    padding:30px;
    border-radius:18px;
    text-align:center;
    transition:.3s;
    border:1px solid #e2e8f0;
}

.why-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,.12);
}

.why-card h3{
    color:#2563eb;
    margin-bottom:12px;
}

.why-card p{
    color:#555;
    line-height:1.7;
}

/* RESPONSIVE */

@media(max-width:768px){

.about-hero{
    padding:70px 20px;
}

.about-hero h1{
    font-size:38px;
}

.about-hero p{
    font-size:16px;
}

.story,
.mission,
.services,
.why,
.team,
.vision{
    width:95%;
    padding:25px;
}

.story h2,
.mission h2,
.services h2,
.why h2,
.team h2,
.vision h2{
    font-size:26px;
}

}